
* {
    margin:0;
    padding: 0;
    font-family: TTLakes-Medium;
    font-size: 16px;
}

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

::-webkit-scrollbar {
    display: none;
}

body {
    background-color: #F8F8F8;
    height: 100vh
}

.header {
    width: 100%;
    overflow-x: hidden;
}

.users-panel {
    width: 100%;
    background-color: #FFF;
    display: flex;
    justify-content: space-between;
    padding: 19px 16px;
    column-gap: 16px;
}

.users-panel__label {
    display: none;
}

.image {
    display: flex;
}

.image::after{
    content: '';
    display: block;
    margin-left: 16px;
    width: 2px;
    height: 32px;
    background-color: #EAEAEA;
    border-radius: 1px;
    margin-top: auto;
    margin-bottom: auto;

}

.users-button {
    border: none;
    margin: auto 0;
    display: block;
    background-repeat: no-repeat;
    background-position: center right;
    background-origin: border-box;
    border-radius: 100%;
    background-color: rgba(0,0,0,0)
}

.users-button__background {
    width: 40px;
    height: 40px;
}

.users-button__text {
    position: absolute;
    opacity: 0;
    top: -100px;
}

.burger {
    background-image: url(burger.svg);
}

.call {
    background-image: url(call.svg);
    display: none;
}

.chat{
    background-image: url(chat.svg);
    display: none;
}

.check-Status {
    background-image: url(checkstatus.svg);
}

.repair {
    background-image: url(repair.svg);
    margin-left: 4px;
}

.repair--positioned {
    margin-left: auto;
}

.profile {
    background-image: url(profile.svg);
    display: none;
}

/*main block*/

.title-wrapper .users-button {
    display: none;
}

.title{
    font-family: TTLakes-Bold;
    color: #1B1C21;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: -0.6px;
    display: flex;
    
}

.title-wrapper--positioned {
    padding-top: 24px;
    padding-right: 24px;
}

.title::before {
    display: block;
    content:url(highlight.svg);
    margin-right: 16px;
    height: 40px;
}

.services__list {
    display: flex;
    list-style: none;
    overflow-x: scroll;
    scrollbar-width: none;
}

.services__list--positioned {
    margin: 24px 0px;
    margin-left: 16px;
}

.services__item {
    white-space: nowrap;   
}

.services__btn {
    background-color: inherit;
    height: 40px;
    font-size: 16px;
    font-style: normal;
    border-radius: 6px;
    border: 2px solid rgba(0,0,0,0);
    outline: 0;
}

.services__text {
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #7E7E82;
    margin: 8px 20px;

}

.services__btn:active, .services__btn:focus, .services__btn:hover {
    background-color: white;
    border: 2px solid #B8FFEC;
}

.services__btn[autofocus]:focus {
    border: 2px solid #B8FFEC;
}

.article {
    display: block;

    
}
 
.section {
    height:90px;
    overflow: hidden;
    
}

.article__position {
    padding-left: 16px;
    padding-right: 16px;
}

.article__text {
    color: #1B1C21;
    font-size: 0.875rem;
    font-style: normal;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; /* 128.571% */
    letter-spacing: 0.2px;
    margin-bottom: 16px;
}

.article__text:last-child{
    margin-bottom: 0;
}

.article__read-more-button {
    display: flex;
    padding: 16px;
}

.article__read-more-text {
    line-height: 24px;
    display: flex;
}

.article__read-more-text::before {
    content:url('./expand.svg');
    width:24px;
    height:24px;
    border-style: none;
    background-color: #F8F8F8;
    margin-right: 8px;
}

.article__image-container {
    height: 176px;
    margin-bottom: 27px;
    margin-left:-16px;
}

.article__image {
    height: auto;
    width: 100%;
    object-fit: contain;
    max-height: 230px

}


@media screen and (min-width: 768px) {

    .users-panel {
        padding: 18px 24px;
        column-gap: 16px;
    }

    .users-panel__container:first-child {
        margin-left: 0;
    }


    .call {
        display: flex;
        order: 2;
    }

    .call--positioned {
        margin-left: auto;
    }
        
    .chat{
        display: flex;
        order: 3;
    }
        
    .profile {
        display: flex;
        order: 4;
            
    }

    .profile--positioned {
        margin-right: 4px;
    }

    .repair {
        display:flex;
        align-items: center;
        position: relative;
    }

    .repair::before {
        content: '';
        position: absolute;
        display: block;
        width: 2px;
        height: 32px;
        background-color: #EAEAEA;
        border-radius: 1px;
        margin-top: auto;
        margin-bottom: auto;
        left: -20px;
    }

    .repair--positioned {
        margin-left: 20px;
        margin-right: 0;
    }

    .repair, .check-Status {
        order: 5;
    }

    .burger {
        order: -1;
    }

    .burger--positioned {
        margin-right: 4px;
    } 

    .image:before {
        content: '';
        display: block;
        width: 2px;
        height: 32px;
        background-color: #EAEAEA;
        border-radius: 1px;
        margin-top: auto;
        margin-bottom: auto;
        margin-right: 20px;
    }

    .image:after {
        display: none
    }

    .services__list {
        margin: 32px 0;
        margin-left: 24px;
        display: flex;
    }

    .article {
        display: flex;
        height: 208px;
        flex-direction: column;
        flex-wrap: wrap;
    }


    .section {
        margin: 0;
        height: 160px;
        min-width: 360px;
        width: 50%;
        
    }

    .article__position {
        padding-left: 24px;
        padding-right: 24px;

    }

    .article__read-more-button {
        padding-top:10px;
        padding-bottom: 0;
        margin: 0

    }

    .article__text {
        padding-right: 48px;
        line-height: 20px;
    }
    
    .article__image-container {
        flex-grow: 1;
        min-width: 360px;
        width: 50%;
        height: 208px;
        margin: 0;
    }

    .article__image {
        width: 100%;
        max-height: 260px
    }
}


@media screen and (min-width: 1120px) {
    body {
        max-width: 1120px;
        margin: 0;
        margin-left: auto;
        margin-right: auto;
        height: 100vh;
    }
    .header {
        display: none;
    }



    .burger {
        display: none
    }
    
    .call {
        display: none;

    }
    
    .chat{
        display: none;
    }
    
    .check-Status {
        background-repeat: no-repeat;
        background-position: center right;
        background-origin: border-box;
        margin-left: 0;
        border-radius: 0;
    }
    
    .repair {
        margin-left: auto;
        background-repeat: no-repeat;
        background-position:center right;
        background-origin: border-box;
        border-radius: 0;
    }
    
    .repair::before {
        display: none
    }

    .profile {
        display: none;
        background-repeat: no-repeat;
        background-position: center right;
        background-origin: border-box;
    }

    .image {
        display: none
    }

    .title-wrapper {
        display: flex;
        padding-top: 42px;
        column-gap: 32px;
    }

    .title-wrapper .users-button {
        width: auto;
        white-space: nowrap;
        display: flex;
        align-items: center;
    }


    .title-wrapper .users-button__text {
        top: 0;
        position: relative;
        display: block;
        opacity: 1;
    }

    .users-button__text--positioned {
        margin-right: 8px
    }

    .users-button__text--positioned {
        margin-right: 8px
    }

    .title {
        order: 0;
    }

    .title::before {
        margin-right: 30px;
    }

    .users-panel {
        order: 1;
        background-color: #F8F8F8;
        width: 50%;
        display: flex;
    }
    .services {
        order: 2;
    }

    .services__list {
        flex-wrap: wrap;
        margin-top: 8px;
        margin-left: 32px;
    }

    .article {
        height: 360px;
    }

    .article__image {
        width: 100%;
        max-height: 380px
    }


}



