
* {
    margin:0;
    padding: 0;
    font-family: TTLakes-Medium;
    font-size: 16px;
}

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

::-webkit-scrollbar {
    display: none;
}

body {
    background-color: #F8F8F8;
}

.header {
    width: 100%;
    overflow-x: hidden;
}

.users-panel {
    width: 100%;
    background-color: #FFF;
    display: flex;
    justify-content: space-between;
    padding: 24px 16px;
}

.users-panel__label {
    display: none;
}

.users-panel__container {
    margin: 0;
    border-radius: 100%;
    display: flex;
    align-items: center;
}

.image {
    display: flex;
}

.image::after{
    content: '';
    display: block;
    margin-left: 16px;
    width: 2px;
    height: 32px;
    background-color: #EAEAEA;
    border-radius: 1px;
    margin-top: auto;
    margin-bottom: auto;

}

.users-panel__item {
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 100%;
    margin: auto 0;
    display: block;
    opacity: 0;
}

.burger {
    background-image: url(burger.svg);
    background-repeat: no-repeat;
    background-position: center right;
    background-origin: border-box;
}

.call {
    background-image: url(call.svg);
    display: none;
    background-repeat: no-repeat;
    background-position: center right;
    background-origin: border-box;
}

.chat{
    background-image: url(chat.svg);
    display: none;
    background-repeat: no-repeat;
    background-position: center right;
    background-origin: border-box;
}

.check-Status {
    background-image: url(checkstatus.svg);
    background-repeat: no-repeat;
    background-position: center right;
    background-origin: border-box;
}

.repair {
    background-image: url(repair.svg);
    margin-left: 20px;
    background-repeat: no-repeat;
    background-position: center right;
    background-origin: border-box;
}

.profile {
    background-image: url(profile.svg);
    display: none;
    background-repeat: no-repeat;
    background-position: center right;
    background-origin: border-box;
}



.title {
    width: 100%;
}

.title__container {
    display: flex;
    margin-top: 24px;
}

.title__theme {
    font-family: TTLakes-Bold;
    color: #1B1C21;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: -0.6px;
    margin-left: 16px;
}

.title__container::before {
    content:url(highlight.svg);
}

.services__list {
    display: flex;
    list-style: none;
    overflow-x: scroll;
    scrollbar-width: none;
    margin: 24px 0px;
    margin-left: 16px;
    
}

.services__item {
    white-space: nowrap;   
}

.services__btn {
    background-color: inherit;
    height: 40px;
    font-size: 16px;
    font-style: normal;
    border-radius: 6px;
    border: 2px solid rgba(0,0,0,0);
    outline: 0;
}

.services__text {
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #7E7E82;
    margin: 8px 20px;

}

.services__btn:active, .services__btn:focus, .services__btn:hover {
    background-color: white;
    border: 2px solid #B8FFEC;
}

.services__btn[autofocus]:focus {
    border: 2px solid #B8FFEC;
}

/*main block*/

.article {
    display: block
}
    
.article__section {
    margin: 0 16px;
    margin-bottom: 16px;
    height:90px;
    overflow: hidden;

}

.article__text {
    color: #1B1C21;
    font-size: 0.875rem;
    font-style: normal;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; /* 128.571% */
    letter-spacing: 0.2px;
    margin-bottom: 16px;
}

.article__text:last-child{
    margin-bottom: 0;
}

.article__readmore-btn {
    background-image:url(expand.svg);
    width:24px;
    height:24px;
    border-style: none;
    background-color: #F8F8F8;

}

.article__footer {
    display: flex;
    margin-bottom: 16px;
    padding-left: 16px;
}

.article__readmore-btn {
    line-height: 24px;
}

.article__readmore-label {
    line-height: 24px;
    font-weight: 500;
}

.article__image-container {
    background: url(6000x4000.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100%;
    height: 176px;
    margin-bottom: 27px;
}


@media screen and (min-width: 768px) {

.users-panel {
    padding: 24px 24px;
}

.users-panel__container {
    margin-left: 20px;
}

.users-panel__container:first-child {
    margin-left: 0;
}
    
    .call {

        display: flex;
        order: 2;
        margin-left: auto;

    }
    
    .chat{

        display: flex;
        order: 3;

    }
    
    .profile {

        display: flex;
        order: 4;

    }

    .repair::before {
        content: '';
        display: block;
        width: 2px;
        height: 32px;
        background-color: #EAEAEA;
        border-radius: 1px;
        margin-top: auto;
        margin-bottom: auto;
        margin-right: 20px;
    } 

    .repair, .check-Status {
        order: 5;
    }

    .burger {
        order: -1;
    }

    .users-panel__image-container {
        order: 1;
        margin-left: 20px;
    }

    .image:before {
        content: '';
        display: block;
        margin-right: 20px;
        width: 2px;
        height: 32px;
        background-color: #EAEAEA;
        border-radius: 1px;
        margin-top: auto;
        margin-bottom: auto;
    }

    .image:after {
        display: none
    }

    .services__list {
        margin: 32px 0;
        margin-left: 24px;
        display: flex;
    }

    .article {
        display: flex;
        height: 208px;
        flex-direction: column;
        flex-wrap: wrap;
        padding-left: 24px;
        padding-right: 24px;
    }

    .article__section {
        margin: 0;
        height: 160px;
        min-width: 360px;
        width: 50%;
        margin-bottom: 10px;
    }

    .article__text {
        padding-right: 48px;
        line-height: 20px;
    }
    
    .article__image-container {
        flex-grow: 1;
        min-width: 360px;
        width: 50%;
        height: 208px;
        background: url(6000x4000.png);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        height: 208px;
        margin: 0;

    }

    .article__readmore-btn {
        margin-left: 0;
    }

    .article__footer {
        margin:0;
        padding: 0;

    }

}


@media screen and (min-width: 1120px) {
    body {
        max-width: 1120px;
        margin: 0 auto;
        height: 100vh;
    }
    .burger {

        background-repeat: no-repeat;
        background-position: center right;
        background-origin: border-box;
        display: none
    }
    
    .call {

        display: none;
        background-repeat: no-repeat;
        background-position: center right;
        background-origin: border-box;
    }
    
    .chat{

        display: none;
        background-repeat: no-repeat;
        background-position: center right;
        background-origin: border-box;
    }
    
    .check-Status {

        background-repeat: no-repeat;
        background-position: center right;
        background-origin: border-box;
        margin-left: 0;
        border-radius: 0;
    }

    
    .repair {

        margin-left: auto;
        background-repeat: no-repeat;
        background-position:center right;
        background-origin: border-box;
        margin-right: 32px;
        border-radius: 0;
    }
    
    .repair::before {
        display: none
    }
  

    .profile {

        display: none;
        background-repeat: no-repeat;
        background-position: center right;
        background-origin: border-box;
    }

    .image {
        display: none
    }

    .header {
        display: flex;
        flex-wrap: wrap;
    }

    .title {
        width: 50%;
        order: 0;
    }

    .title__theme {
        margin-left: 32px;
    }

    .users-panel {
        order: 1;
        background-color: #F8F8F8;
        width: 50%;
        display: flex;
    }

    .users-panel__label {
        display: block;
        margin-right: 8px;
        font-weight: 500;
    }

    .services {
        order: 2;
    }

    .services__list {
        flex-wrap: wrap;
    }

    .article {
        height: 360px;
    }


}



