

.aside-panel {
    background-color: #ffffff;
    width: 320px;
    min-height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    left: 0;
    top: 0;
    box-shadow: 16px 0px 52px 0px rgba(14, 24, 80, 0.20), -2px 0px 4px 0px rgba(69, 79, 126, 0.02);
}

.panel {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items:center;
}

.panel--positioned {
    padding: 18px 24px;
    column-gap: 16px;
}

.panel--display_blocked {
    display: block;
}

.users-button {
    border: none;
    transition: all 0.8s;
    cursor: pointer
}

.users-button--transform:hover {
    opacity: 0.5;
    transform: scale(1.2) rotate(360deg);
}


.burger-cross {
    background-image: url(../burgerCROSS.svg);
    background-repeat: no-repeat;
    background-origin: border-box;
    display: block;

}

.search{
    background-image: url(../search.svg);
    background-repeat: no-repeat;
    background-origin: border-box;
    display: block;
}

.call,
.chat,
.profile {

    display: block
}


.header-panel__image {
    margin-right: auto;
}

.image::before {
    display: none;
}

.menu {
    position: relative;
    display: block;
}

.menu__list {
    list-style: none;
}

.menu__item {
    position: relative;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
    letter-spacing: -0.2px;
    margin-top: 32px;
    color: black;
    
}

.menu__item--checked::before {
    content:url(highlight_32px.svg);
    position: absolute;
    display: block;
    width: 4px;
    height: 32px;
    left: 0;
}

.menu__item--checked {
    color: #7E7E82
}

.menu__link { 
    text-decoration: none;
    color: inherit;
    display: flex;
    align-items: center;
    justify-content: left;
    transition: all 0.2s;
    
}

.menu__link--positioned {
    padding: 4px 0px;
    margin-left: 24px
}

.menu__link:hover {
    transform: translateY(-2px);
    color: orange
}

.footer {
    width: 100%;
    display: block;
    
}

.footer--positioned {
    margin-top: 268px;
}

.buttons-container {
    display: flex;
    column-gap: 16px;
}


.panel-item {
    transition: all 0.5s;
    text-decoration: none;
    padding-right: 20px;
    line-height: 24px;
    font-style: normal;
    color: #1B1C21;
}

.panel__email {
    font-family: TTLakes-Medium;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: -0.2px;
    margin-top: 16px;
    display: block;
}

.panel__tel {
    font-family: TTLakes-Bold;
    color: black;
    line-height: 32px;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: -0.6px;
    white-space: nowrap;
    margin-top: 12px;
    display: block;
    
}

.panel__tel:hover, .panel__email:hover {
    box-shadow: 2px 2px 2px 2px #1B1C21;
}

.panel--positioned_s {
    gap: 7px;
    margin-top: 40px;  
}

.panel__input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: absolute;
}

.panel__label {
    transition: all 0.3s;
}

.panel__input:checked + .panel__label {
    color: #7E7E82;;
    transform: translateY(0px)
}

.panel__label:hover {
    cursor: pointer;
    color: orange;
    transform: translateY(-2px)
}